= simple_form_for(["admin", @item]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :description
    = f.input :show_flag
    = f.input :show_priority
    = f.input :image, as: :image_preview, input_html: { preview_version: :thumb }

  .form-actions
    = f.button :submit
