%h1 Listing items

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Price
      %th Description
      %th Show flag
      %th Show priority
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.price
        %td= item.description
        %td= item.show_flag
        %td= item.show_priority
        %td= link_to 'Show', admin_item_path(item)
        %td= link_to 'Edit', edit_admin_item_path(item)
        %td= link_to 'Destroy', admin_item_path(item), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_admin_item_path
