%h1 商品一覧

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Price
      %th Description
      %th Show flag
      %th Show priority
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.price
        %td= item.description
        %td= item.show_flag
        %td= item.show_priority
        %td= link_to '詳細', admin_item_path(item)
        %td= link_to '編集', edit_admin_item_path(item)
        %td= link_to '削除', admin_item_path(item), :method => :delete, :data => { :confirm => '削除しますか？' }

= paginate @items

%br

= link_to '登録', new_admin_item_path
