%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Price:
  = @item.price
%p
  %b Description:
  = @item.description
%p
  %b Show flag:
  = @item.show_flag
%p
  %b Show priority:
  = @item.show_priority
%p
  %b Image:
  = image_tag @item.image_url(:medium)

= link_to 'Edit', edit_admin_item_path(@item)
\|
= link_to 'Back', admin_items_path
