= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :zip_code
    = f.input :phone_number
    = f.input :price

  .form-actions
    = f.button :submit
