%h2 購入商品
%table.table.table-hover
  %thead
    %th 商品名
    %th 単価
    %th 個数
    %th 合計金額
  %tbody
    - items.each do |item|
      %tr
        %td= item.item.name
        %td= number_to_currency(item.item.price)
        %td= "%d個" % item.amount
        %td= number_to_currency(item.item.price * item.amount)

%h2 お支払金額
%table.table.table-hover
  %tr
    %th
      .text-center 購入商品小計
    %td= number_to_currency(order.price)
  %tr
    %th
      .text-center 代引き手数料
    %td= number_to_currency(order.cash_on_delivery_price)
  %tr
    %th
      .text-center 配送料
    %td= number_to_currency(order.postage_price)
  %tr
    %th
      .text-center 消費税
    %td= number_to_currency(order.tax_price)
  %tr
    %th
      .text-center お支払金額合計
    %td= number_to_currency(order.total_price)