%h2 配送先
%table.table.table-hover
  %tr
    %th
      .text-center 名前
    %td= order.name
  %tr
    %th
      .text-center 住所
    %td= order.address
  %tr
    %th
      .text-center 郵便番号
    %td= order.zip_code
  %tr
    %th
      .text-center 電話番号
    %td= order.phone_number
  %tr
    %th
      .text-center 配送日
    %td= order.delivery_date
  %tr
    %th
      .text-center 配送時間対
    %td= order.delivery_timezone