%h1 購入履歴

%table.table.table-bordered
  %thead
    %tr
      %th 購入日時
      %th 購入点数
      %th 合計金額
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.updated_at
        %td= order.order_items.size
        %td= order.total_price
        %td= link_to '詳細', order

= paginate @orders
