%h1 ショッピングカート

%table.table.table-hover
  %thead
    %tr
      %th 画像
      %th 商品名
      %th 数量
      %th

  %tbody
    - @carts.each do |cart|
      %tr
        %td= image_tag cart.item.image_url(:small)
        %td= link_to cart.item.name, cart.item
        %td
          = simple_form_for(cart, html: {class:'form-inline'}) do |f|
            = f.input_field :amount, class: 'form-control'
            = f.button :submit, '数量変更'
        %td= link_to '削除', cart, :method => :delete, :data => { :confirm => '削除しますか？' }

= paginate @carts

- if @carts.size > 0 && !guest_user?
  .row
    .col-md-offset-2.col-md-8
      = link_to new_order_path do
        %button.btn.btn-warning.btn-lg.btn-block 購入する
- else
  .text-center{style: "margin:10px; font-wait:400; font-size: 20px;"}
    ご注文手続きに進む
  .row
    .col-md-offset-2.col-md-8
      = link_to new_user_registration_path do
        %button.btn.btn-danger.btn-lg.btn-block 新規ユーザー登録