.row.ec-items-detail
  .col-md-8
    .row
      .col-md-6
        = image_tag @item.image_url(:medium), class: 'pull-left ec-items-detail__image'
      .col-md-6
        .ec-items-detail__name= @item.name
        .ec-items-detail__price= number_to_currency(@item.price)
    %h4 商品説明
    .ec-items-detail__description= @item.description
  .col-md-4
    .ec-items-detail__cart
      = simple_form_for(Cart.new) do |f|
        = f.input :item_id, as: :hidden, input_html: { value: @item.id }
        = f.input :amount, input_html: { value: 1 }
        %button.btn.btn-primary
          %i.fa.fa-shopping-cart
          ショッピングカートに入れる
    - if user_signed_in?
      .ec-items-detail__cart-preview
        %h4 ショッピングカートの中身
        %p
          %b 合計点数:
          = current_or_guest_user.carts.size
        %p
          %b 合計金額:
          = number_to_currency(current_or_guest_user.carts.map{|cart| cart.item.price * cart.amount}.sum)
