%p#notice= notice

%p
  %b 商品名:
  = @item.name
%p
  %b 価格:
  = number_to_currency(@item.price)
%p
  %b 商品説明:
  = @item.description

%p
  = image_tag @item.image_url(:medium)

= simple_form_for(Cart.new) do |f|
  = f.input :item_id, as: :hidden, input_html: { value: @item.id }
  = f.input :amount, input_html: { value: 1 }
  = f.button :submit, 'カートに入れる'

= link_to '戻る', items_path
