%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Price:
  = @item.price
%p
  %b Description:
  = @item.description
%p
  %b Show flag:
  = @item.show_flag
%p
  %b Show priority:
  = @item.show_priority

%p
  %b Image:
  = image_tag @item.image_url(:medium)

= simple_form_for(Cart.new) do |f|
  = f.input :item_id, as: :hidden, input_html: { value: @item.id }
  = f.input :amount, input_html: { value: 1 }
  = f.button :submit, 'カートに入れる'

= link_to 'Back', items_path
